*.mp4 filter=lfs diff=lfs merge=lfs -text
xperiment[[:space:]]Data/** filter=lfs diff=lfs merge=lfs -text
* !text !filter !merge !diff
Experiment[[:space:]]Data/** filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
:size>100MB filter=lfs diff=lfs merge=lfs -text
*.csv filter=lfs diff=lfs merge=lfs -text
